{% extends 'baseVolunteer.html' %}

{% block body %}

<style>
    #navigation {
        background-color: #7B0100;
    }
</style>

{% include 'navbar_temp.html' with show_vform=False show_programs=False show_search=False %}

{% load widget_tweaks %}
<br>
<div align="center">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <table class="table table-bordered border-dark w-25">
                <thead align="center">
                    <th>
                        <strong>Program Form</strong>
                    </th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <label>Program Code</label>
                            {{ form.code }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Program Name</label>
                            {{ form.name }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Program Description</label>
                            {{ form.description }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Program Image</label>
                            <br><br>
                            {{ form.program_img }}
                        </td>
                    </tr>
                </tbody>
            </table>
        <input type="submit" value="Confirm">
    </form>
</div>

{% endblock %}