{% extends 'baseVolunteer.html' %}

{% block body %}

<style>
    td, th {
        padding: 10%;
    }

    textarea {
        max-height: 100px;
        resize: none;
    }

    #multi_col {
        padding-left: 1%;

    }
    
    .extra_form {
        margin-top: 1%;
    }

    #mainDiv {
        
    }

    

</style>

<!-- <h1>Volunteer Application Form</h1> -->
<br><br>

{% load widget_tweaks %}
<div class="row justify-content-center" align="center">
    <div class="col-lg-10">
        <form id="vol_form" action="{% url 'add' %}" method="post">
            {% csrf_token %}

            <div>
                <table class="table w-50">
                    <tbody>
                        <tr>
                            <h3>Volunteer Programs</h3>
                        </tr>
                        <tr>
                            <!-- <td align="center"> -->
                                {% render_field v_form.programs style="width: 600px;" %}
                            <!-- </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>

            <table class="w-75 table table-bordered border-dark">
                <thead>
                    <h3>Volunteer Information</h3>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <label for="id_first_name" class="form-label">First Name</label>
                            {{v_form.first_name}}
                        </td>
                        <td>
                            <label for="id_middle_name" class="form-label">Middle Name</label>
                            {{v_form.middle_name}}
                        </td>
                        <td>
                            <label for="id_last_name" class="form-label">Last Name</label>
                            {{v_form.last_name}}
                        </td>
                        <tr>
                            <td>
                                <label for="id_mobile" class="form-label">Mobile #</label>
                                {{v_form.mobile}}
                            </td>
                            <td colspan="3">
                                <label id="multi_col" for="id_email" class="form-label">Email</label>
                                {{v_form.email}}
                            </td>
                        </tr>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <label id="multi_col" for="id_address" class="form-label">Address</label>
                            {{v_form.address}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1">
                            <label id="multi_col" for="id_telephone" class="form-label">Telephone #</label>
                            {{v_form.telephone}}
                        </td>
                        <td colspan="1">
                            <label id="multi_col" for="id_birth_date" class="form-label">Birth Date</label>
                            {% render_field v_form.birthdate type="date" class="form-control" placeholder="mm/dd/yyyy" %}
                        </td>
                        <td colspan="1">
                            <label id="multi_col" for="id_civilStatus" class="form-label">Civil Status</label>
                            <br>
                            {{v_form.civilStatus}}
                        </td>
                    </tr>
                        <tr>
                            <td colspan="1">
                                <label id="multi_col" for="id_sex" class="form-label">Sex</label>
                                <br>
                                {{v_form.sex}}
                            </td>
                            <td>
                                <label id="multi_col" for="id_bloodType" class="form-label">Blood Type</label>
                                {{v_form.bloodType}}
                            </td>
                            <td colspan="1">
                                <label id="multi_col" for="id_religion" class="form-label">Religion</label>
                                {{v_form.religion}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1">
                                <label id="multi_col" for="id_healthConditions" class="form-label">Health Conditions</label>
                                {{v_form.healthConditions}}
                            </td>
                            <td colspan="1">
                                <label id="multi_col" for="id_skillsHobbies" class="form-label">Skills & Hobbies</label>
                                {{v_form.skillsHobbies}}
                            </td>
                            <td colspan="1">
                                <label id="multi_col" for="id_foodRestrictions" class="form-label">Food Restrictions</label>
                                {{v_form.foodRestrictions}}
                            </td>
                        </tr>
                </tbody>
            </table>

            <table class="w-50 table table-bordered border-dark">
                <thead data-bs-toggle="tooltip" data-bs-placement="top" title="Toggle checked for Alumni">
                    <tr>
                        <td>
                            <input type="checkbox" id="alumni_check" onchange="toggleAlumni()">
                            <label for="alumni_check">Are you an alumnus of UP?</label>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="alumni_div" style="display: none;">
                            <div>
                                {% for field in v_form %}
                            
                                    {% if field.name in alumnusFields %}
                            
                                        <div class="fieldWrapper">
                            
                                            <label id="multi_col" for="{{ field.id_for_label }}" class="form-label extra_form">Constituent Unit</label>
                                            {{ field }}
                            
                                        </div>
                            
                                    {% endif %}
                            
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="w-50 table table-bordered border-dark">
                <thead>
                    <tr>
                        <td>
                            <input type="checkbox" id="pgh_check" onchange="togglePGH()">
                            <label for="pgh_check">Are presently connected with UP-PGH?</label>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="pgh_div" style="display: none;">
                            <div>
                                {% for field in v_form %}
                            
                                    {% if field.name in pghFields %}
                            
                                        <div class="fieldWrapper">
                            
                                            <label id="multi_col" for="{{ field.id_for_label }}" class="form-label extra_form">Specification</label>
                                            {{ field }}
                            
                                        </div>
                            
                                    {% endif %}
                            
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="w-50 table table-bordered border-dark">
                <thead>
                    <tr>
                        <td>
                            <input type="checkbox" id="work_check" onchange="toggleWork()">
                            <label for="work_check">Are you presently working?</label>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="work_div" style="display: none;">
                            <div>
                                {% for field in v_form %}
                            
                                    {% if field.name in workFields %}

                                        {% if field.name == "occupation" %}
                                            <div class="fieldWrapper">
                                
                                                <label id="multi_col" for="{{ field.id_for_label }}" class="form-label extra_form">Occupation</label>
                                                {{ field }}
                                
                                            </div>                                        
                                        {% endif %}

                                        {% if field.name == "otherOccu" %}
                                            <div class="fieldWrapper">
                                
                                                <label id="multi_col" for="{{ field.id_for_label }}" class="form-label extra_form">Other Occupation</label>
                                                {{ field }}
                                
                                            </div>                                        
                                        {% endif %}
                                
                            
                                    {% endif %}
                            
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="w-50 table table-bordered border-dark">
                <thead>
                    <tr>
                        <td>
                            <input type="checkbox" id="license_check" onchange="toggleLicense()">
                            <label for="license_check">Are you licensed?</label>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="license_div" style="display: none;">
                            <div>
                                {% for field in v_form %}

                                    {% if field.name in licenseFields %}

                                        {% if field.name == "prcLicense" %}
                                            <div class="fieldWrapper">
                                
                                                <label id="multi_col" for="{{ field.id_for_label }}" class="form-label extra_form">PRC License #</label>
                                                {{ field }}
                                
                                            </div>                                        
                                        {% endif %}

                                        {% if field.name == "dept" %}
                                            <div class="fieldWrapper">
                                
                                                <label id="multi_col" for="{{ field.id_for_label }}" class="form-label extra_form">Department</label>
                                                {{ field }}
                                
                                            </div>                                        
                                        {% endif %}

                                        {% if field.name == "company" %}
                                            <div class="fieldWrapper">
                                
                                                <label id="multi_col" for="{{ field.id_for_label }}" class="form-label extra_form">Company</label>
                                                {{ field }}
                                
                                            </div>                                        
                                        {% endif %}

                                        {% if field.name == "officeAdd" %}
                                            <div class="fieldWrapper">
                                
                                                <label id="multi_col" for="{{ field.id_for_label }}" class="form-label extra_form">Office Address</label>
                                                {{ field }}
                                
                                            </div>                                        
                                        {% endif %}

                                        {% if field.name == "license_telephone" %}
                                            <div class="fieldWrapper">
                                
                                                <label id="multi_col" for="{{ field.id_for_label }}" class="form-label extra_form">Office Telephone #</label>
                                                {{ field }}
                                
                                            </div>                                        
                                        {% endif %}

                                        {% if field.name == "license_email" %}
                                            <div class="fieldWrapper">
                                
                                                <label id="multi_col" for="{{ field.id_for_label }}" class="form-label extra_form">Office Email</label>
                                                {{ field }}
                                
                                            </div>                                        
                                        {% endif %}

                                        {% if field.name == "workSched" %}
                                            <div class="fieldWrapper">
                                
                                                <label id="multi_col" for="{{ field.id_for_label }}" class="form-label extra_form">Work Schedule</label>
                                                {{ field }}
                                
                                            </div>                                        
                                        {% endif %}
                            
                                    {% endif %}
                            
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="w-50 table table-bordered border-dark">
                <thead>
                    <tr>
                        <td>
                            <input type="checkbox" id="up_check" onchange="toggleUP()">
                            <label for="up_check">Are you currently a student of UP?</label>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="up_div" style="display: none;">
                            <div>
                                {% for field in v_form %}

                                    {% if field.name in studentFields %}

                                        {% if field.name == "idNum" %}
                                            <div class="fieldWrapper">
                                
                                                <label id="multi_col" for="{{ field.id_for_label }}" class="form-label extra_form">ID #</label>
                                                {{ field }}
                                
                                            </div>                                        
                                        {% endif %}

                                        {% if field.name == "course" %}
                                            <div class="fieldWrapper">
                                
                                                <label id="multi_col" for="{{ field.id_for_label }}" class="form-label extra_form">Course</label>
                                                {{ field }}
                                
                                            </div>                                        
                                        {% endif %}

                                        {% if field.name == "college" %}
                                            <div class="fieldWrapper">
                                
                                                <label id="multi_col" for="{{ field.id_for_label }}" class="form-label extra_form">College</label>
                                                {{ field }}
                                
                                            </div>                                        
                                        {% endif %}

                                        {% if field.name == "yearLvl" %}
                                            <div class="fieldWrapper">
                                
                                                <label id="multi_col" for="{{ field.id_for_label }}" class="form-label extra_form">Year Level</label>
                                                {{ field }}
                                
                                            </div>                                        
                                        {% endif %}
                            
                                    {% endif %}
                            
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="w-50 table table-bordered border-dark">
                <div id="insuranceDiv">
                <tr>
                    <h3>Insurance Information</h3>
                    <p style="margin: auto;"><small>During Pahinungod activities within or OUTSIDE UP</small></p>
                </tr>
                    <tbody>
                        <tr>
                            <td>
                                <div>
                                    {% for field in v_form %}
    
                                        {% if field.name in insuranceFields %}
    
                                            {% if field.name == "beneficiaries" %}
                                                <div class="fieldWrapper">
                                    
                                                    <label id="multi_col" for="{{ field.id_for_label }}" class="form-label">Beneficiaries</label>
                                                    {{ field }}
                                    
                                                </div>                                        
                                            {% endif %}
    
                                            {% if field.name == "relation" %}
                                                <div class="fieldWrapper">
                                    
                                                    <label id="multi_col" for="{{ field.id_for_label }}" class="form-label extra_form">Relation</label>
                                                    {{ field }}
                                    
                                                </div>                                        
                                            {% endif %}
    
                                            {% if field.name == "contact" %}
                                                <div class="fieldWrapper">
                                    
                                                    <label id="multi_col" for="{{ field.id_for_label }}" class="form-label extra_form">Contact Details</label>
                                                    {{ field }}
                                    
                                                </div>                                        
                                            {% endif %}
                                
                                        {% endif %}
                                
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </div>
            </table>

            <table class="w-25 table table-bordered border-dark">
                <div id="dateDiv">
                    <tbody>
                        <tr>
                            <h3>Start Date</h3>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    {% for field in v_form %}
    
                                        {% if field.name in dateFields %}
    
                                            {% if field.name == "startDate" %}
                                                <div class="fieldWrapper">
                                    
                                                    <label id="multi_col" for="{{ field.id_for_label }}" class="form-label">Start Date</label>
                                                    {{ field }}
                                    
                                                </div>                                        
                                            {% endif %}
    
                                            {% if field.name == "customStartDate" %}
                                                <div class="fieldWrapper">
                                    
                                                    <label id="multi_col" for="{{ field.id_for_label }}" class="form-label extra_form">Other Start Date</label>
                                                    {% render_field field type="date" class="form-control" placeholder="mm/dd/yyyy" %}
                                                    
                                    
                                                </div>                                        
                                            {% endif %}
                                
                                        {% endif %}
                                
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </div>
            </table>

            <input class="btn btn-outline-success" type="submit" value="Confirm Volunteer">
        </form>
    </div>
</div>
<br>
<br>

<script>

    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
    })

    function toggleAlumni() {
        var alumniCheck = document.getElementById("alumni_check");
        var alumniDiv = document.getElementById("alumni_div");

        if (alumniCheck.checked) {
            alumniDiv.style.display = "block";
        } else {
            alumniDiv.style.display = "none";
        }
    }

    function togglePGH() {
        var pghCheck = document.getElementById("pgh_check");
        var pghDiv = document.getElementById("pgh_div");

        if (pghCheck.checked) {
            pghDiv.style.display = "block";
        } else {
            pghDiv.style.display = "none";
        }
    }

    function dropWork() {
        var workDropValue = document.getElementById("id_occupation").value;
        var workOther = document.getElementById("id_otherOccu");

        if (workDropValue === "Other") {
            workOther.removeAttribute("disabled");
        }
        else {
            workOther.setAttribute("disabled", "disabled");
        }
    }

    function dropDate() {
        var dateDropValue = document.getElementById("id_startDate").value;
        var dateOther = document.getElementById("id_customStartDate");

        if (dateDropValue === "Other") {
            dateOther.removeAttribute("disabled");
        }
        else {
            dateOther.setAttribute("disabled", "disabled");
        }
    }

    function toggleWork() {
        var workCheck = document.getElementById("work_check");
        var workDiv = document.getElementById("work_div");

        if (workCheck.checked) {
            workDiv.style.display = "block";
        } else {
            workDiv.style.display = "none";
        }
    }

    function toggleLicense() {
        var licenseCheck = document.getElementById("license_check");
        var licenseDiv = document.getElementById("license_div");

        if (licenseCheck.checked) {
            licenseDiv.style.display = "block";
        } else {
            licenseDiv.style.display = "none";
        }
    }

    function toggleUP() {
        var upCheck = document.getElementById("up_check");
        var upDiv = document.getElementById("up_div");

        if (upCheck.checked) {
            upDiv.style.display = "block";
        } else {
            upDiv.style.display = "none";
        }
    }

    dropWork();
    dropDate();

</script>
{% endblock %}