<nav id="navigation" class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand text-light disabled" href="{% url 'list' %}">Volunteers Page</a>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if show_vform %}
        <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="{% url 'vol_index' %}"><u>Volunteer Form</u></a>
        </li>
        {% endif %}
        {% if show_programs %}
        <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="{% url 'programs' %}"><u>Programs</u></a>
        </li>
        {% endif %}
    </ul>
  </div>
</div>
</nav>