{% extends 'baseVolunteer.html' %}

{% block body %}

<style>

    #navigation {
        background-color: #7B0100;
    }

    .btn_width {
        width: 50px;
    }

    .button-grid {
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
        justify-content: center;
        align-items: center;
        /* position: absolute; */
        top: 50%;
        left: 50%;
        /* transform: translate(-50%, -50%); */
    }

    .btn_width_act {
        width: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* position: absolute; */
        top: 50%;
        left: 50%;
        /* transform: translate(50%, -50%); */


    }

    .sticky-thead {
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: #532222;
        /* Light gray background */
    }
</style>

{% include 'navbar_temp.html' with show_vform=True show_programs=False show_search=False admin=True show_pform=True %}

<!-- <h3 align="center" class="display-5">Volunteers Page</h3> -->

{%  if programs %}
<br>
<div class="table-responsive">
    <table align="center" class="table table-bordered table-hover border-dark w-25 text-nowrap">
        <thead class="table-light border-dark sticky-thead">
            <th>Programs</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for program in programs %}
            <tr>
                <td class="text-wrap" style="width: 450px;">
                    <strong>
                            {{ program.name }} ({{program.code}}) 
                    </strong>
                    <br>
                    {{ program.description }}
                </td>
                <td align="center">
                    <!-- Edit -->
                    <form action="{% url 'edit_program' program.id %}">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-outline-secondary btn-sm btn_width_act" style="transform: translateY(-2px);" value="Edit">
                    </form>
                    <!-- Delete -->
                    <form action="{% url 'del_program' program.id %}">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-outline-danger btn-sm btn_width_act" value="Delete"
                            onclick="return confirm('Are you sure?');" style="transform: translateY(3px);">
                    </form>
                </td>
                {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% else %}

<h2 class="display-2" align="center">No entries.</h2>
<h6 class="display-6" align="center">lmao</h6>

{% endif %}
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>

{% endblock %}