{% extends 'baseVolunteer.html' %}

{% block body %}

<style>
    .right_col {
        padding-left: 10%;
    }

    table {
        table-layout:auto;
    }

    td {
        font-size: small;
    }

    .wrap_content {
        word-break: break-word;
    }
</style>

<div align="center">
    <table class="table table-bordered border-dark">
        <tr>
            <td><strong>ID #</strong></td>
            <td>{{ volunteer.idNum }}</td>
        </tr>
        <tr>
            <td><strong>Course</strong></td>
            <td>{{ volunteer.course }}</td>
        </tr>
        <tr>
            <td><strong>College</strong></td>
            <td>{{ volunteer.college }}</td>
        </tr>
        <tr>
            <td><strong>Year Level</strong></td>
            <td class="wrap_content">{{ volunteer.yearLvl }}</td>
        </tr>
    </table>
</div>

{% endblock %}