{% extends 'baseVolunteer.html' %}

{% block body %}

<style>
    .right_col {
        padding-left: 10%;
    }

    table {
        table-layout:auto;
    }

    td {
        font-size: small;
    }

    .wrap_content {
        word-break: break-word;
    }
</style>

<div align="center">
    <table class="table table-bordered border-dark">
        <tr>
            <td><strong>Birth Date</strong></td>
            <td>{{ volunteer.birthdate }}</td>
        </tr>
        <tr>
            <td><strong>Age</strong></td>
            <td>{{ volunteer.age }}</td>
        </tr>
        <tr>
            <td><strong>Start Date</strong></td>
            <td>{{ volunteer.customStartDate }}</td>
        </tr>
        <tr>
            <td><strong>Address</strong></td>
            <td class="wrap_content">{{ volunteer.address }}</td>
        </tr>
        <tr>
            <td><strong>Civil Status</strong></td>
            <td class="wrap_content">{{ volunteer.civilStatus }}</td>
        </tr>
        <tr>
            <td><strong>Address</strong></td>
            <td class="wrap_content">{{ volunteer.address }}</td>
        </tr>
        <tr>
            <td><strong>Mobile #</strong></td>
            <td class="wrap_content">{{ volunteer.mobile }}</td>
        </tr>
        <tr>
            <td><strong>Sex</strong></td>
            <td class="wrap_content">{{ volunteer.sex }}</td>
        </tr>
        <tr>
            <td><strong>Telephone #</strong></td>
            <td class="wrap_content">{{ volunteer.telephone }}</td>
        </tr>
        <tr>
            <td><strong>Blood Type</strong></td>
            <td class="wrap_content">{{ volunteer.bloodType }}</td>
        </tr>
        <tr>
            <td><strong>Email</strong></td>
            <td class="wrap_content">{{ volunteer.email }}</td>
        </tr>
        <tr>
            <td><strong>Religion</strong></td>
            <td class="wrap_content">{{ volunteer.religion }}</td>
        </tr>
    </table>
</div>
<!-- <div align="center">
    <table class="table table-bordered w-50 border-dark">
        <thead align="center">
            <th colspan="4">Volunteer Info</th>
        </thead>
        <tbody>
            <tr>
                <td align="center">
                    <p><strong>Name</strong></p>
                </td>
                <td>
                    <p class="right_col">
                        {{ volunteer }}
                    </p>
                </td>
                <td align="center">
                    <p><strong>Birth Date</strong></p>
                </td>
                <td>
                    <p class="right_col">
                        {{ volunteer.birthdate }}
                    </p>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <p><strong>Age</strong></p>
                </td>
                <td>
                    <p class="right_col">
                        {{ volunteer.age }}
                    </p>
                </td>
                <td align="center">
                    <p><strong>Start Date</strong></p>
                </td>
                <td>
                    <p class="right_col">
                        {{ volunteer.customStartDate }}
                    </p>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <p><strong>Address</strong></p>
                </td>
                <td>
                    <p class="right_col">
                        {{ volunteer.address }}
                    </p>
                </td>
                <td align="center">
                    <p><strong>Civil Status</strong></p>
                </td>
                <td>
                    <p class="right_col">
                        {{ volunteer.civilStatus }}
                    </p>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <p><strong>Mobile #</strong></p>
                </td>
                <td>
                    <p class="right_col">
                        {{ volunteer.mobile }}
                    </p>
                </td>
                <td align="center">
                    <p><strong>Sex</strong></p>
                </td>
                <td>
                    <p class="right_col">
                        {{ volunteer.sex }}
                    </p>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <p><strong>Telephone #</strong></p>
                </td>
                <td>
                    <p class="right_col">
                        {{ volunteer.telephone }}
                    </p>
                </td>
                <td align="center">
                    <p><strong>Blood Type</strong></p>
                </td>
                <td>
                    <p class="right_col">
                        {{ volunteer.bloodType }}
                    </p>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <p><strong>Email Address</strong></p>
                </td>
                <td>
                    <p class="right_col">
                        {{ volunteer.email }}
                    </p>
                </td>
                <td align="center">
                    <p><strong>Religion</strong></p>
                </td>
                <td>
                    <p class="right_col">
                        {{ volunteer.religion }}
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <table class="table table-bordered w-50 border-dark">
        <thead>
            <thead align="center">
                <th colspan="2">Other Information</th>
            </thead>
        <tbody>
            <tr>
                <td align="center">
                    <p><strong>Health Conditions</strong></p>
                </td>
                <td>
                    <p class="right_col">
                        {{ volunteer.healthConditions }}
                    </p>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <p><strong>Skills & Hobbies</strong></p>
                </td>
                <td>
                    <p class="right_col">
                        {{ volunteer.skillsHobbies }}
                    </p>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <p><strong>Food Restrictions</strong></p>
                </td>
                <td>
                    <p class="right_col">
                        {{ volunteer.foodRestrictions }}
                    </p>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered w-50 border-dark">
        <thead>
            <thead align="center">
                <th colspan="2">Volunteer Programs</th>
            </thead>
            <tbody>
                <tr>
                    <td align="center">
                        {% for program in volunteer.programs.all %}
                        <p>
                            <strong>
                                {{ program.name }}
                            </strong>
                        </p>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
    </table>
    <ul>
    </ul>
</div> -->

{% endblock %}