<div class="row">

    <div class="col-4">
        <div id="list-example" class="list-group">
            {% for program in programs %}
                <a class="list-group-item list-group-item-action" href="#list-item-1">{{program}}</a>
            {% endfor %}
        </div>
    </div>

    <div class="col-8"> 
        <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example" tabindex="0">
            {% for program in programs %}
                <div class="my-2">
                    <img src="{{ program.program_img }}" class="img-fluid image_mat w-50">
                    <h4 id="program{{ program.id }}">{{ program.name }} ({{ program.code }})</h4>
                    <p>{{ program.description }}</p>
                </div>
            {% endfor %}
        </div>    
    </div>

</div>
