{% extends 'baseVolunteer.html' %}

{% block body %}

<style>

.popup-container {
      display: none;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(1, 68, 33, 0.5);
      justify-content: center;
      align-items: center;
    }

    .popup {
      background: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

  textarea {
    max-height: 125px;
    resize: none;
  }

  #full_form {
    display: none;
  }

  .card {
    display: flex;
    flex-direction: column;
    border-color: #000000;
    border-width: 2px;
  }

  .card-body {
    flex-grow: 1;
  }

  #navigation {
    background-color: #7B0100;
    width: 100%;
  }

  .home_body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image_mat {
    border: 3px solid black;
  }

  body {
    background-color: #014421;
  }

  .card-body:hover {
        background-color: #f0f0f0;
        cursor: pointer;
  }

</style>

  {% include 'navbar_temp.html' with show_vform=False show_programs=False show_search=False show_signup=True admin=False %}

  {% include 'home_layout.html' %}
  
  {% if user %}
    <div class="popup-container" id="popup">
      <div class="popup">
        {% include 'account/logout.html' %}
        </div>
      </div>
    </div>
  {% endif %}

  <script>

    
    function toggleLogout() {
      var logout_div = document.getElementById("popup");
      
      if (logout_div.style.display == "none") {
        logout_div.style.display = "none";
      } else {
        logout_div.style.display = "flex"
      }
    }
  
  </script>
  {% endblock %}