{% load allauth i18n %}
{% block content %}
<div align="center">
    <!-- <h5 class="display-5">Sign Out</h5> -->
</div>
    <p align="center">{% trans 'Are you sure you want to sign out?' %}</p>
    {% url 'account_logout' as action_url %}
    {% element form method="post" action=action_url no_visible_fields=True %}
        {% slot body %}
            {% csrf_token %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
        {% endslot %}
        {% slot actions %}
        <div align="center">
            {% element button type="submit" %}
                {% trans 'Sign Out' %}
            {% endelement %}
        </div>
        {% endslot %}
    {% endelement %}
{% endblock content %}
