<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login Page</title>
</head>

<style>
    .body {
        background-color: #014421;
    }

    .center-panel {
        background-color: whitesmoke;
        border-radius: 16px;
        border-style: solid;
        border-width: 5px;
    }

    #red-color {
        color: #7B0100;
        border-color: #7B0100;
    }

</style>

<body class="body d-flex flex-column">
    <!-- IMPORTS -->
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    
    <div id="red-color" class="center-panel rounded-lg">
        <div class="">
            <h3 class="display-3 text-center">Pahinungod Forms</h3>
        </div>
    </div>

    

</body>
</html>