{% extends 'base_partner.html' %}

{% block content %}

<h1>Home</h1>

    <table rules="all">
        <thead>
            <th>Stakeholder Name</th>
            <th>Title of Partnership/Linkage</th>
            <th>Stakeholder Category</th>
        </thead>

        <tbody>
            {% for partner in partners %}

            <tr>
                <td>
                    <p> {{partner.name}} </p>
                </td>
                <td>
                    <p> {{partner.partners}} </p>
                </td>
                <td>
                    <p> {{partner.stakeholder_category}} </p>
                </td>
            </tr>     

            {% endfor %}

        </tbody>
        
    </table>

{% endblock %}