<!-- Extensions -->
{% extends 'base_partner.html' %}
{% load widget_tweaks %}

{% block content %}
    {% csrf_token %}

    <style>
        .form_div{
            margin: auto;
        }



        table, tr, td{
            border: 2px solid black;
            border-collapse: collapse;
            margin: auto;
        }

    </style>

    <h1 style="margin: auto; text-align: center;"> Partners Form </h1>

        <form action="{% url 'add_partner' %}" method="POST" class="
        mb-3 p-4 
        d-flex flex-column 
        align-items-center justify-content-center border"> 
            {% csrf_token %}
    
            <!-- TABLE FORM -->
                <!-- <table>
                    <tr>
                        <td>
                            <label for="id_partner_name">Partner Name: </label>
                            {{ form.partner_name }}
                        </td>
                        <td>
                            <label for="id_partnership_extension">Partnership Extension</label>
                            {{ form.partnership_extension }}
                        </td>
                    </tr>    
    
                    <tr>
                        <td>  </td>
    
                    </tr>
    
        
                </table> -->

                <!-- Overall Div -->
                <div class="mb-5 w-75 flex-column d-flex align-items-center justify-content-center">
                    {{ form.partner_name }}
 
                    {{ form.partnership_extension }}

                    {{ form.stakeholder_category }}

                    {{ form.second_category }}

                    {{ form.other_choice }}

                    <!-- Type of Partnership Field -->
                    <div class="d-inline-flex flex-column w-100">
                        <label for="id_type_of_partnership" class="col-auto col-form-label">Type of Partnership: </label>
                        <div class="col-sm-100">
                            {{ form.type_of_partnership }}
                        </div>
                    </div>

                    <!-- Date Fields -->
                    <div class="mb-2 form-row align-items-center justify-content-center d-flex">
                        <div class="form-group row col-auto m-2">
                            <!-- Start Date -->
                            <label for="id_Agreement_Start_Date" class="col-auto col-form-label">Start Date</label>
                            <div class="col-auto">
                                {% render_field form.Agreement_Start_Date type="date" class='form-control' placeholder="mm/dd/yyyy" %}
                            </div>        
                        </div>
                        <div class="form-group row col-auto m-2">
                            <!-- End Date -->
                            <label for="id_Agreement_End_Date" class="col-auto col-form-label">End Date</label>
                            <div class="col-auto">
                                {% render_field form.Agreement_End_Date type="date" class='form-control' placeholder="mm/dd/yyyy" %}
                            </div>
                        </div>
                    </div>

                    <!-- File Field -->
                    {{ form.files }}

                </div>
                
    
            
    
            <input type="submit">
        </form>

        <!-- {{ form.as_p }} -->

    <script>

        //Get second_category_element
        const selectElement_second = document.getElementById('id_second_category');
        const selectElement_second_label = document.getElementById('id_second_category');
        // console.log(selectElement_second)

        document.addEventListener('DOMContentLoaded', function() {

            //Hide all second_category_element
            const options = selectElement_second.options;
            for (let i = 0; i < options.length; i++) {
            const option = options[i];
                option.style.display = 'none';
            }
            selectElement_second.style.display = 'none';
            selectElement_second_label.style.display = 'none';

            //Hide Other Field
            const otherField = document.getElementById('id_other_choice');
            const otherFieldLabel = document.querySelector('label[for="id_other_choice"]');
            // otherField.style.display = 'none';
            // otherFieldLabel.style.display = 'none';

            // If stakeholder_category selected
                // IF P or G
            const selectElement = document.getElementById('id_stakeholder_category');
            console.log(selectElement)

            selectElement.addEventListener('change', function(event) {

                const selectElement_second = document.getElementById('id_second_category');
                const selectElement_second_options = selectElement_second.options;
                const selectedValue = event.target.value;
                
                // Get second_category
                selectElement_second.style.display = 'block';
                selectElement_second_label.style.display = 'block';

                // Event Listener for second category
                selectElement_second.addEventListener('change', function(event){
                    const selectedOption = selectElement_second.options[selectElement_second.selectedIndex]

                    // Get the value and text of the selected option
                    const selectedValue = selectedOption.value;
                    const selectedText = selectedOption.textContent.trim();

                    if(selectedText == 'Others'){
                        otherField.style.display = 'block';
                        otherFieldLabel.style.display = 'block';
                    } else{
                        otherField.style.display = 'none';
                        otherFieldLabel.style.display = 'none';
                    }
                })

                // If Private
                if(selectedValue == 'P'){
                    for (let i = 0; i < selectElement_second_options.length; i++) {
                    const option = selectElement_second_options[i];
                        if (option.value === '2') {
                            option.style.display = 'none';
                        } 
                        else{
                            option.style.display = 'block';
                        }
                    }
                }

                // If Government
                else if(selectedValue == 'G'){
                    for (let i = 0; i < selectElement_second_options.length; i++) {
                    const option = selectElement_second_options[i];
                    if (option.value === '1') {
                            option.style.display = 'none';
                        }else{
                            option.style.display = 'block';
                        }

                    }   
                    if(selectElement_second_options == 'O'){
                        otherField.style.display = 'block';
                    }
                }

                // If not yet picked
                else{
                    for (let i = 0; i < selectElement_second_options.length; i++) {
                    const option = selectElement_second_options[i];
                    option.style.display = 'none';    
                    }
                }

                
                
            });
        });

        // Event listener for the change event
    </script>

{% endblock %}
