{% extends 'base_partner.html' %}

{% block content %}

<h1 style="margin: auto; text-align: center;" class="mb-5"> Type of Partners Form </h1>

<div class="d-flex justify-content-center ">
    <!-- TABLE DIV -->
    <div class="d-flex border">
        <table rules="all" class="table table-responsive table-striped d-flex-col justify-content-center">
    
            <thead>
                <th>Type of Partnerships</th>
            </thead>
        
            <tbody>
                {% for type in types %}
        
                <tr>
                    <td>
                        <!-- <p> {{type.type_code}} </p> -->
                        <p> {{type.type_of_partnership}} </p>
                    </td>
                    <td>
                        <!-- BUTTONS -->
                        <div class="d-flex border"> 
                            <form action="{% url 'upd_type' type.id %}">
                                {% csrf_token %}
                                <input type="submit" value="Update">
                            </form>
                            <form action="{% url 'del_type' type.id %}" method="POST">
                                {% csrf_token %}
                                <input type="submit" value="Delete">
                            </form>
                        </div>
                    </td>
                </tr>     
        
                {% empty %}
                <tr>
                    <td colspan="3">
                        <h2>No Type of Partnership Available</h2>
                    </td>
                </tr>
                    
        
                {% endfor %}
        
            </tbody>
            
        </table>
    </div>

    <!-- FORM DIV -->
    <div class="mx-5 d-flex align-self-start ">

        {% if type %}
            <form action="{% url 'upd_type' type.id %}" method="POST">
                {% csrf_token %}
                {{ form.type_code }}
                {{ form.type_of_partnership }}

                <div>
                    <input type="submit">
                </div>
            </form>

        {% else %}
            <form action="{% url 'add_type' %}" method="POST">
                {% csrf_token %}
                {{ form.type_code }}
                {{ form.type_of_partnership }}

                <div>
                    <input type="submit">
                </div>
            </form>
        
        {% endif %}
        

    </div>
</div>

<script>
    document.getElementById('type_of_partner_form').className += ' active bg-secondary'

</script>

{% endblock %}

