{% extends 'base_dashboard.html' %}
{% load static %}

{% block body %}

<style>
    table {
        table-layout:auto;
        max-width: 90%;
    }

</style>

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <h1 class="mx-5" style="margin: auto;"> Partners </h1>

        <!-- SEARCH -->
        <form class="d-flex mx-5" action="{% url 'filterPartners' %}">
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="search" aria-label="Search" name="q" id="id_search_field">
            <button class="btn" type="submit" id="id_search_button">Search</button>
        </form>
    </div>
    

</nav>

<br>

<div class="table-responsive d-flex justify-content-center">

    <table rules="all" class="table table-bordered table-striped d-flex-col justify-content-center center overflow-scroll border" id="id_partners_table">
        {% if partners %}
        <thead>
            <th class="align-baseline">Stakeholder Name</th>
            <th class="align-baseline">Title of Partnership/Linkage</th>
            <th class="align-baseline">Stakeholder Category</th>
            <th class="align-baseline">Type of Partnership</th>
            <th class="align-baseline">Start Date</th>
            <th class="align-baseline">End Date</th>
            <th class="align-baseline">Stakeholder Files</th>
            <th class="align-baseline">Actions</th>
        </thead>
        {% endif %}

        <tbody>
            {% for partner in partners %}
    
            <tr>
                <td>
                    <p> {{ partner.partner_name }} </p>
                </td>
                <td>
                    <p> {{ partner.partnership_extension }} </p>
                </td>
                <td>
                    <p> {{ partner.stakeholder_category }} - 
                        {% if partner.second_category == 'Others' %} 
                            {{ partner.other_choice }}
                        {% else %}
                            {{ partner.second_category }}
                        {% endif %}
                    </p>
                </td>
                <td>
                    <!-- TYPES -->
                    {% for type in partner.type_of_partnership.all %}
    
                        <li>({{type.type_code}}) {{type.type_of_partnership}}</li>
                        
                        {% empty %}
                        <p> No Type Placed </p>
    
                    {% endfor %}
                </td>
                <td>
                    <p> {{ partner.Agreement_Start_Date }} </p>
                </td>
                <td>
                    <p> {{ partner.Agreement_End_Date }} </p>
                </td>
                <td>
                    <!-- FILES -->
                    <ul>
                        {% for partner_item, file_list in partners_list.items %}
                            {% if partner_item == partner %}
                                {% for file in file_list %}
                                    <!-- <p>{{ file.file_field }}</p>
                                    <p>{{ file.file_name }}</p> -->
                                    {% with "partner_requirements/"|add:file.file_name as file_path %}
                                        <li><a href="{% static file_path %}" target="_blank">{{ file.file_name }}</a></li>
                                    {% endwith %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </td>
                
                <!-- ACTIONS -->
                <td>
                    <div class="d-flex justify-content-center">
                        <form class="px-2" action="{% url 'upd_partner' partner.id %}">
                            {% csrf_token %}
                            <input type="submit" value="Update">
                        </form>
                        <form class="px-2" action="{% url 'del_partner' partner.id %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" value="Delete">
                        </form>
                    </div>                    
                </td>
            </tr>     
    
            {% empty %}
            <tr>
                <td colspan="6" align="center">
                    <h2 id="id_isEmpty">No Partners Available</h2>
                    <p>Nu bayun...</p>
                </td>
            </tr>
                
    
            {% endfor %}
    
        </tbody>
        
        
    </table>
</div>


<!-- <script>
    document.getElementById('partners').className += ' active bg-secondary'

    const search_button = document.getElementById('id_search_button');
    const search_field = document.getElementById('id_search_field');
    
    if (performance.navigation.type == performance.navigation.TYPE_RELOAD) {
        console.info( "This page is reloaded" );
    }

    search_button.addEventListener('click', function(event){
        const partners_table = document.getElementById('id_partners_table');
        var partners_table_count = partners_table.childElementCount;
        var isEmpty = false;

        console.log(partners_table.childElementCount);
        
        if(partners_table.childElementCount === 1){
            console.log('blank')
            
            isEmpty = true;
            
            document.getElementById("id_isEmpty").innerHTML = "yourTextHere";
        }
        
    
    })
</script> -->

{% endblock %}