{% extends 'base_dashboard.html' %}
{% load static %}

{% block body %}

<style>
    table {
        table-layout:auto;
        max-width: 95%;
    }

</style>

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <h1 class="mx-5" style="margin: auto;"> Partners </h1>

        <!-- SEARCH -->
        <form class="d-flex mx-5" action="{% url 'filterPartners' %}">
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="search" aria-label="Search" name="q" id="id_search_field" value="{{ request.GET.q }}">
            <button class="btn" type="submit" id="id_search_button">Search</button>
        </form>
    </div>
    

</nav>

<br>

<!-- CENTRAL PANEL -->
<div id="central_panel" class="d-flex justify-content-center">
    
    <!-- FILTERS -->
    <div class="d-flex-col">
           <!-- APPLY FORM -->
        <form action="{% url 'filterPartners' %}" class="d-flex-col mb-2">
            {% csrf_token %}

            <h5> Filter by: </h5>
            <!-- ACCORDION ROOT -->
            <div class="accordion-flush" id="accordionParent">
                <!-- HEADER: Date -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" 
                        data-bs-toggle="collapse" data-bs-target="#collapseOne" 
                        aria-expanded="false" aria-controls="collapseOne">
                            Date
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <div class="mb-2">
                            <label for="start">Start Date</label>
                            <input id="start" name="start" class="form-control" type="date" placeholder="mm/dd/yyyy" value="{{ request.GET.start }}">
                        </div>
                        <div class="mb-2">
                            <label for="end">End Date</label>
                            <input id="end" name="end" class="form-control" type="date" placeholder="mm/dd/yyyy" value="{{ request.GET.end }}">
                        </div>
                    </div>
                </div>

                <!-- HEADER: Title of Partnership -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Title of Partnership
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="accordion-collapse collapse">
                    <!-- Django Forms For Loop -->
                    <div class="accordion-body">
                        {% for extension in partnership_extension_choices %}

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="{{extension.1}}" id="{{extension.1}}" name="partnership_extensions" {% if extension.1 in partnership_filters %}checked{% endif %}> 
                            <p> {{extension.1}} </p>
                        </div>

                        {% endfor %}
                        <p>{{ partner_filters }}</p>
                    </div>

                    <!-- <div class="accordion-body">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="category" id="HT:BLS" checked>
                            <label class="form-check-label" for="partner">
                                Health Training: Basic Life Support 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="category" id="HT:BAandPFA">
                            <label class="form-check-label" for="HT:BAandPFA">
                                Health Training: Breast Advocacy and PFA
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="category" id="HT:FAST">
                            <label class="form-check-label" for="HT:FAST">
                                Health Training: FAST 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="category" id="HE:OH">
                            <label class="form-check-label" for="HE:OH">
                                Health Education: Oral Health
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="category" id="HE:MHPS">
                            <label class="form-check-label" for="HE:MHPS">
                                Health Education: MHPS
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="category" id="DPT">
                            <label class="form-check-label" for="DPT">
                                Disaster Preparedness Training
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="category" id="DPL">
                            <label class="form-check-label" for="DPL">
                                Disaster Preparedness Lecture
                            </label>
                        </div>
                    </div> -->
                </div>

                <!-- HEADER: Stakeholder Category -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Stakeholder Category
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="accordion-collapse collapse">
                    <div class="accordion-body">

                        <div class="form-check">
                            <input class="form-check-input" name="category_radio" type="radio" id="primary_radio" value="1" {% if category_radio == '1' %}checked{% endif %}>
                            <label for="primary_radio">Filter By Primary Category</label>
                        </div>
                        <br>

                        <div id="primary_categories">
                            {% for category in stakeholder_category_choices %}
    
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="{{category.1}}" id="{{category.1}}" name="primary_categories" {% if category.1 in primary_filters %}checked{% endif %}> 
                                <p> {{category.1}} </p>
                            </div>
    
                            {% endfor %}
                        </div>


                        <hr>

                        <div class="form-check">
                            <input class="form-check-input" name="category_radio" type="radio" id="secondary_radio" value="2" {% if category_radio == '2' %}checked{% endif %}>
                            <label for="secondary_radio">Filter By Secondary Category</label>
                        </div>
                        <br>

                        <div id="secondary_categories">
                            {% for category in second_category_choices %}
    
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="{{category.1}}" id="{{category.1}}" name="secondary_categories" {% if category.1 in secondary_filters %}checked{% endif %}> 
                                <p> {{category.1}} </p>
                            </div>
    
                            {% endfor %}
                        </div>

                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Partnership Type
                        </button>
                    </h2>
                </div>
                <div id="collapseFour" class="accordion-collapse collapse">
                    <div class="accordion-body">

                        <div id="typefilter_div">
                            {% for type in types %}
    
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="{{type.type_code}}" id="{{type.type_code}}" name="type_filters" {% if type.type_code in type_filters %}checked{% endif %}> 
                                <p> {{type.type_code}} </p>
                            </div>
    
                            {% endfor %}
                        </div>

                    </div>
                </div>

            </div>

            <!-- APPLY BUTTON -->
            <div class="d-grid mt-2">
                <button type="submit" class="p-2">Apply</button>
            </div>
            

        </form>

        <!-- CANCEL FORM -->

        <div class="d-flex justify-content-end">
            <a href="{% url 'view_partners' %}">Clear Filters</a>
        </div>

        <form action="" class="d-flex-col flex-fill">
            {% csrf_token %}

            <!-- <button class="p-2 flex-fill">Clear</button> -->
        </form>

    </div>

 

    <!-- PARTNERS TABLE LIST -->
    <div class="table-responsive d-flex justify-content-center">

        <table rules="all" class="table table-bordered table-striped justify-content-center overflow-scroll border" id="id_partners_table">
            {% if partners %}
            <thead>
                <th class="align-baseline">Partner</th>
                <th class="align-baseline">Title of Partnership/Linkage</th>
                <th class="align-baseline">Stakeholder Category</th>
                <th class="align-baseline">Type of Partnership</th>
                <th class="align-baseline">Start Date</th>
                <th class="align-baseline">End Date</th>
                <th class="align-baseline">Stakeholder Files</th>
                <th class="align-baseline">Actions</th>
            </thead>
            {% endif %}
    
            <tbody>
                {% for partner in partners %}
        
                <tr>
                    <td>
                        <p> {{ partner.partner_name }} </p>
                    </td>
                    <td>
                        <p> {{ partner.partnership_extension }} </p>
                    </td>
                    <td>
                        <p> {{ partner.stakeholder_category }} - 
                            {% if partner.second_category == 'Others' %} 
                                {{ partner.other_choice }}
                            {% else %}
                                {{ partner.second_category }}
                            {% endif %}
                        </p>
                    </td>
                    <td>
                        <!-- TYPES -->
                        {% for type in partner.type_of_partnership.all %}
        
                            <li>({{type.type_code}}) {{type.type_of_partnership}}</li>
                            
                            {% empty %}
                            <p> No Type Placed </p>
        
                        {% endfor %}
                    </td>
                    <td>
                        <p> {{ partner.Agreement_Start_Date }} </p>
                    </td>
                    <td>
                        <p> {{ partner.Agreement_End_Date }} </p>
                    </td>
                    <td>
                        <!-- FILES -->
                        <ul>
                            {% for partner_item, file_list in partners_list.items %}
                                {% if partner_item == partner %}
                                    {% for file in file_list %}
                                        <!-- <p>{{ file.file_field }}</p>
                                        <p>{{ file.file_name }}</p> -->
                                        {% with "partner_requirements/"|add:file.file_name as file_path %}
                                            <li><a href="{% static file_path %}" target="_blank">{{ file.file_name }}</a></li>
                                        {% endwith %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </td>
    
                    <!-- ACTIONS -->
                    <td>
                        <div class="d-flex justify-content-center">
                            <form class="px-2" action="{% url 'upd_partner' partner.id %}">
                                {% csrf_token %}
                                <input type="submit" value="Update">
                            </form>
                            <form class="px-2" action="{% url 'del_partner' partner.id %}" method="POST">
                                {% csrf_token %}
                                <input type="submit" value="Delete">
                            </form>
                        </div>                    
                    </td>
                </tr>     
        
                {% empty %}
                <tr>
                    <td colspan="6" align="center" class="vw-100">
                        <h2 id="id_isEmpty">No Partners Available</h2>
                        <p>Nu bayun...</p>
                    </td>
                </tr>
                    
        
                {% endfor %}
        
            </tbody>
            
        </table>
    </div>
</div>




<script>

    const primaryRadio = document.getElementById('primary_radio');
    const secondaryRadio = document.getElementById('secondary_radio');
    const primary_checkboxes = document.querySelectorAll("#primary_categories input[type='checkbox']");
    const secondary_checkboxes = document.querySelectorAll("#secondary_categories input[type='checkbox']");

    // Function to disable checkboxes
    function disableCheckboxes(checkboxes) {
        checkboxes.forEach((checkbox) => {
            checkbox.disabled = true;
            checkbox.checked = false;
        });
    }

    // Function to enable checkboxes
    function enableCheckboxes(checkboxes) {
        checkboxes.forEach((checkbox) => {
            checkbox.disabled = false;
        });
    }

    // Event listener for radio button changes
    primaryRadio.addEventListener('change', function () {
        if (this.checked) {
            enableCheckboxes(primary_checkboxes);
            disableCheckboxes(secondary_checkboxes);
        }
    });

    secondaryRadio.addEventListener('change', function () {
        if (this.checked) {
            enableCheckboxes(secondary_checkboxes);
            disableCheckboxes(primary_checkboxes);
        }
    });

    var category_radio = "{{ category_radio }}"

    if (category_radio==1 || category_radio==null) {
        
    } else {
        disableCheckboxes(primary_checkboxes);
    }
    
    if (category_radio==2 || category_radio==null) {
        
    } else {
        disableCheckboxes(secondary_checkboxes);
    }

</script>

{% endblock %}