<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pahinungod Forms</title>
    <!-- IMPORTS -->
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% load static %}
    {% bootstrap_javascript %}
    {% load socialaccount %}
</head>

<style>
    .img {
        width: 100px;
        height: auto;
    }
    /* .navbar-toggler .navbar-light {
        background-image: url();
    } */

</style>

<body>
    <!-- HEADER -->
    <div class="mb-6" style="background-color: #7B0100;">
        <a href="{% url 'home' %}" class="d-flex align-items-center" style="text-decoration: none; color: white">
            <img src="{% static 'partners_forms/media/admin_icon.png' %}" alt="Admin Icon" class="img my-2 mx-2" style="background-color: #7B0100; max-width: 80px;">
            <h1 class="display-5 mx-1 my-1">Admin Dashboard</h1>
        </a>
    </div>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #262626;">
        <div class="container-fluid">
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="color: white;"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">

                    <!-- HOME -->
                    <li class="nav-item">
                        <a class="nav-link text-white" id="home" href="{% url 'dashboard' %}">Home</a>
                    </li>

                    <!-- DROP DOWN LIST -->
                    <li class="nav-item dropdown">
                        <!-- PARTNERS -->
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none; color: white">Partners
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <a class="dropdown-item" id="partners" href="{% url 'view_partners' %}">Partners List</a>
                            </li>
                            <li>
                                <a class="dropdown-item" id="partner_form" href="{% url 'partner_form' %}">Add Partners</a>
                            </li>
                            <li>
                                <a class="dropdown-item" id="type_of_partner_form" href="{% url 'type_partner_form' %}">Add Type Partners</a>
                            </li>
                        </ul>
                    </li>



                    <li class="nav-item dropdown">
                        <!-- VOLUNTEERS -->
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="text-decoration: none; color: white">Volunteers
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <a class="dropdown-item" href="{% url 'home_vol' %}">Volunteer Home Page</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'list' %}">Volunteer List</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'programs' %}">Programs List</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <button id="log_out_btn" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">Log Out</button>
        </div>
    </nav>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Sign Out</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              {% include 'account/logout.html' %}
            </div>
          </div>
        </div>
      </div>

    <!-- BLOCK -->
    {% block body %}
    {% endblock %}
</body>
</html>